@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	color: rgb(0, 0, 0);
}
html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}
html,
body {
	overflow-x: hidden;
	background: rgb(255, 237, 209);
	background: -moz-linear-gradient(
		128deg,
		rgba(255, 237, 209, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	);
	background: -webkit-linear-gradient(
		128deg,
		rgba(255, 237, 209, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	);
	background: linear-gradient(
		128deg,
		rgba(255, 237, 209, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffedd1",endColorstr="#ffffff",GradientType=1);
}
body {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a2744",endColorstr="#120202",GradientType=1);
	height: 100vh;
}
input {
	background-color: rgb(71, 55, 48);
	border: none;
	border-radius: 2.5rem;
	padding: 2rem 3rem;
	color: aliceblue;
	font-size: 1.6rem;
	text-align: center;
	transition: all 0.3s ease;
}
::placeholder {
	color: aliceblue;
}
button {
	background-color: rgb(71, 55, 48);
	border: none;
	border-radius: 3rem;
	padding: 2rem 3rem;
	color: aliceblue;
	font-size: 1.6rem;
	transition: all 0.3s ease;
	font-weight: 500;
}

.heading {
	font-size: 10rem;
	font-weight: 700;
	text-align: center;
	margin-top: 4rem;
	text-shadow: 0 0 0.25rem rgb(14, 14, 14);
}
.container {
	margin: 10rem;
}
input:hover {
	filter: drop-shadow(0 0 2.75rem rgb(184, 149, 149));
}
input:focus {
	outline: none;
	filter: drop-shadow(0 0 2.75rem rgb(133, 106, 106));
}
input:valid {
	background-color: rgb(71, 55, 48);
}
button:hover {
	filter: drop-shadow(0 0 1.75rem rgb(184, 149, 149));
	transform: scale(1.1);
}
button:active {
	filter: drop-shadow(0 0 2.75rem rgb(133, 106, 106));
	transform: scale(0.95);
}
@media screen and (max-width: 768px) {
	.heading {
		font-size: 8rem;
	}
}
@media screen and (max-width: 600px) {
	.container {
		margin: 5rem;
	}
}
